start observer {{ dg_primary | regex_replace('ora\d+$', 'observer') }} in background file is {{ script_dir }}/{{ dg_primary | regex_replace('ora\d+$', 'observer') }}.dat logfile is {{ script_dir }}/{{ dg_primary | regex_replace('ora\d+$', 'observer') }}.log connect identifier is {{ dg_primary }};